.notification {
  width: 800px;
  background-color: green;
  position: fixed;
  bottom: 0;
  left: calc(50% - 400px);
  border: 2px solid #064b17;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
}

.notificationButtons {
  display: flex;
  justify-content: center;
  gap: 25px;
}
